<div class="ui stackable two column grid">

  <div class="column">
    <div class="suite-grupo-numero">{{numero}}</div>
    <div class="suite-grupo-titulo">{{titulo}}</div>
  </div>

  <div class="column">{{yield}}</div>

</div>
