<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">{{titulo}}</h2>

    <div class="right menu">
      <a href="#" class="ui item active disabled">{{titulo}}</a>
      {{yield}}
    </div>

</div>
