{{yield}}

<table class="ui sortable selectable celled table">
  <thead>
    <tr>
      {{#each columnas as |columna|}}
        <th>{{columna.titulo}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>

    {{#each filas as |fila|}}
      <tr>
        {{#each columnas as |columna|}}
          <td>{{get fila columna.id}}</td>
        {{/each}}
      </tr>
    {{/each}}

  </tbody>

</table>
