{{yield}}

<img class="ui circular image user-avatar" src="/imagenes/user.jpg">
<span class="user-avatar-name">Tom</span>

<div class="ui popup inverted">

    <div class="center-row">
      ¡ Hola !, este es el menú desplegable de la sesión de prueba.
    </div>

    <div class="center-row">
      <img class="ui circular image user-avatar-large centered" src="/imagenes/user.jpg">
    </div>

    <div class="center-row">
      <button class="ui button mini" {{action "abrirPreferencias"}}>Preferencias</button>
    </div>

    <div class="center-row">
      <button class="ui button orange mini" {{action "cerrarLaSesion"}}>Cerrar sesión</button>
    </div>

</div>
