{{yield}}

<table class="ui celled table selectable">

  <thead>
    <tr>
      <th> &nbsp; </th>
    </tr>
  </thead>

  <tr>
    <td>
      <p class="center">
        {{suite-spinner}}
      </p>
    </td>
  </tr>

</table>
