{{yield}}

<div class="ui segment suite-error-container centered">

  <h1>Uuuyyyy !</h1>

  <img src="/iconos/error-de-red.png">

  <p>
    Parece que hubo un error de conexión con el servidor
    de datos. Por favor pulsá F5 o comunicale a los desarrolladores
    si este problema vuelve a aparecer.
  </p>

</div>
