<div class="{{if centrar "centrar"}} {{if ajustar "elipsis"}} truncate">
  {{yield}}
</div>

{{#if debeMostrarPopup}}
  <div class="relative">
    <div class="absolute left-1 shadow-3 w6 no-pointer-events ba b--light-silver br2 pa2 bg-white">
      {{yield}}
    </div>
  </div>
{{/if}}
