{{yield}}

<img class="ui circular image user-avatar" src="/imagenes/user.jpg">
<span class="user-avatar-name">Tom</span>

<div class="ui popup inverted">

  <div class="ui items">

    <div class="item center middle">
        asdasd
    </div>

    <div class="item">
      asdasd
    </div>

    <div class="item">
      asdasd
    </div>

  </div>

  <div class="header">ยก Hola Tom !</div>

  <img class="ui circular image user-avatar-large" src="/imagenes/user.jpg">

  <div class="ui selection list">
    <div class="item">Preferencias (deshabilitado)</div>
    <div class="item">Salir (desabilitado)</div>
  </div>

</div>
