<div class="label">{{titulo}}</div>
<div class="value">
  {{#if tarea.isRunning}}
    <div class="suite-estadistica-numerica__skeleton"></div>
    <div class="suite-estadistica-numerica__skeleton"></div>
  {{else}}
    {{suite-numero (get tarea.value atributo)}}
  {{/if}}
</div>
