{{yield}}

<img class="ui circular image user-avatar" src="/imagenes/user.jpg">
<span class="user-avatar-name">Tom</span>

<div class="ui popup inverted">

    <div class="center-row">
      ¡ Hola Tom, este es el panel de preferencias !
    </div>

    <div class="center-row">
      <img class="ui circular image user-avatar-large centered" src="/imagenes/user.jpg">
    </div>

    <div class="center-row">
      <button class="ui button mini">Preferencias</button>
    </div>

    <div class="center-row">
      <button class="ui button orange mini">Cerrar sesión</button>
    </div>

</div>
