<div class="ui stackable two column grid">

  <div class="four wide column">
    <div class="suite-grupo-numero">{{numero}}</div>
    <div class="suite-grupo-titulo">{{titulo}}</div>
  </div>

  <div class="ten wide column">{{yield}}</div>

</div>
