{{yield}}
<div class="ui inverted vertical right aligned footer segment suite-footer">
  <div class="ui container">
    <div class="ui small spaced image"><img src='/logos/dgcye.png' /></div>
    <div class="ui small spaced image"><img src='/logos/bs-as-provincia.png' /></div>
  </div>
</div>
