{{outlet}}

{{#suite-formularios/tarea
  model        = (changeset model model.validaciones)
  on-submit    = model.tareaGuardar
  texto = 'Crear Tarea'
}}

<button class="ui cancelar button" {{action (route-action "cancelar")}}>Cancelar</button>

{{suite-detalle-de-tarea tarea=model.tareaGuardar}}

{{/suite-formularios/tarea}}
