{{outlet}}

<h2>Edición de tarea</h2>

{{#suite-formularios/tarea
  model        = (changeset model model.validaciones)
  on-submit    = (route-action "guardarTarea")
  texto = 'Guardar tarea'
  editar = true
}}

<button class="ui button" {{action (route-action "cancelar")}}>Cancelar</button>

{{/suite-formularios/tarea}}

{{#if errors}}
  <div class="ui negative message">
    {{#each errors as |error|}}
      <p><strong>{{error.campo}}</strong> - {{error.detalle}}</p>
    {{/each}}
  </div>
{{/if}}
