<div class="ui grid">
  <div class="five wide column">
    {{suite-titulo titulo="Ayuda"}}
  </div>
</div>

<div class="ui divider"></div>
<div class="ui basic segment">
  <a href="/docs/manual-Suite-robotica.pdf" class="ui medium positive button" title="Manual SUITE Robótica" target="_blank"><i class="ui download icon"></i>Descargar el manual de SUITE Robótica</a>
</div>
