<div class="ui action input">
  {{input value=valorLocal type="text" placeholder=ayuda enter=(action alBuscar valorLocal)}}
  <button class="ui button" onclick={{action alBuscar valorLocal}}><i class="search icon"></i> Buscar</button>
</div>
