<div class="ui action input">
  {{input class='filtro' value=valorLocal type="text" placeholder=ayuda enter=(action alBuscar valorLocal)}}
  <button class="ui button buscar" onclick={{action alBuscar valorLocal}}><i class="search icon"></i> Buscar</button>
</div>
