{{suite-titulo titulo="Escritorio"}}

<p>Esta es una versión preliminar de <strong>suite 2</strong>, seleccione
  alguna de las secciones que aparencen en pantalla para continuar.</p>

<h4>Validaciones (wip)</h4>
{{suite-graficos/suite-bars}}

{{outlet}}
