<div class="ui equal width padded grid escritorio">
  <div class="column">
      <img class="ui  centered image" src="imagenes/logo-suite.png">
      <p class="ui centered blue">Bienvenido a SUITE 2</p>
  </div>
</div>

{{outlet}}
