@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700");

body {
  overflow-y: scroll;
  font-family: "Din Next Rounded Regular";
}

.main {
  padding-top: 6em;
  padding-bottom: 5em;
}

/* path:hover {
  fill: red !important;
} */

.footer {
}
.ui.segment.suite-footer {
  width: 100%;
  bottom: 0;
  background: #9aca3c !important;
}
.pusher {
  width: calc(100vw - 34px);
}

.invisible {
  display: none;
}

.ui.button {
  font-family: "Din Next Rounded Regular";
}

.ui.green.button {
  background-color: #9aca3c;
}

.escritorio-robotica,
.escritorio-suite {
  min-height: 550px;
}
/*

.column {
  outline: 1px solid red;
}

*/
/* Reportes */
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6f257f;
  padding: 14px;
  text-align: center;
  pointer-events: none;
}

.tick text {
  font-family: "Lato" !important;
}

.ui.segment.suite-login-header {
  background: #9aca3c !important;
  border: 0 !important;
  -webkit-box-shadow: 0px 21px 21px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 0px 21px 21px 0px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0px 21px 21px 0px rgba(0, 0, 0, 0.05) !important;
  z-index: 1;
}
.suite-login__panel {
  background: #fff;
  padding-top: 1em;
}

.suite-login__panel button {
  margin: 1px !important;
  font-weight: 400 !important;
}
.logo-container {
  height: 50px;
  cursor: pointer;
}

.isologo {
  margin-right: 4px !important;
}

.ui.inverted.menu .active.item.logo-container {
  background: none;
}

.menu-rutas-ui {
  width: 100% !important;
}

.modal-barra-de-botones {
  text-align: right;
  padding-top: 4em;
}

.user-avatar {
  height: 23px;
}

.user-avatar-large {
  height: 64px;
}

th {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

th.table-header {
  cursor: pointer !important;
}

.models-table {
  padding-top: 1em;
  padding-bottom: 1em;
}

.models-table-global-filter {
  padding-bottom: 0.5em;
}

.suite-usuario {
  cursor: pointer;
}

.user-avatar-name {
  padding-left: 10px;
}

.center-row {
  text-align: center;
  padding: 5px;
}

body > .ember-view {
  height: 100%;
  font-size: 100%;
}

.login-page {
  padding-top: 5em;
}

.center {
  text-align: center;
}

.padding {
  padding: 1em;
}

.large-padding {
  padding: 4em;
}

/* Hace que la barra de navegación tenga color gris. */
.ui.inverted.menu {
  background: #414042;
}

.ui.menu .item > img:not(.ui) {
  width: initial;
}

.fc-state-default {
  background: #f5f5f5 !important;
}

.box {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.box.orange {
  background-color: orange;
}

.box.green {
  background-color: green;
}

.box.red {
  background-color: red;
}

.barra-de-botones {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: left;
}

.text-orange {
  color: orange;
}

.fc-list-item-title {
  cursor: pointer;
}

.fc-event-container {
  cursor: pointer;
}

.fc-event-container:hover {
  opacity: 0.8;
}

.fc-event {
  border-radius: 0;
  background-color: #f8f8f8;
}

.ui.table thead th {
  background: #e7f3d8;
  color: #58595b;
}

.ui.table thead th.header-filter {
  padding: 4px;
  background-color: white !important;
}

.ui.table thead th.header-filter .ui.input {
  width: 100%;
}

.ui.table thead th.table-header {
  background-color: #f9fafb;
}

/* Personas */

.ui.segment {
  border: 0;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: none;
  border-radius: 0;
}

.ui.basic.table.tabla-detalle-personas tbody tr,
.ui.basic.table.tabla-detalle-personas tbody tr td {
  border-bottom: 0;
  border-top: 0;
}

.personas-seccion {
  font-size: 3.2rem;
  font-weight: 100;
  color: #878787;
}

.personas-seccion small {
  font-size: 1.2rem;
  vertical-align: top;
  color: #272727;
}

/* Agrega un borde de color al pie de las tablas */

/*
.ui.table tfoot tr:first-child > th:only-child {
    border-radius: 0em 0em 0.28571429rem 0.28571429rem;
    border-color: #DDF3FF;
    border: 1px solid #DDF3FF;
}
*/

/*
.ui.table thead th.header-filter .ui.input input {
  opacity: 0.6;
}

.ui.table thead th.header-filter .ui.input input:focus {
  opacity: 1;
}

*/

.ui.table thead th.header-filter .ui.input input:not(:placeholder-shown) {
  background-color: rgba(255, 228, 89, 0.22);
  /** input is not empty */
}

.aviso-mirage {
  color: rgba(179, 179, 179, 0.61);
  padding: 15px;
  font-size: x-small;
}

.suite-error-container {
  margin-top: 4em !important;
}

.centered {
  text-align: center;
}

.user-big-avatar {
  border-radius: 50%;
}

.barra-de-navegacion {
  z-index: 200 !important;
}

.ui.fixed.menu.barra-de-navegacion {
  border-top: 15px solid #9aca3c;
}

.inverted.barra-de-navegacion .item,
.inverted.barra-de-navegacion .item.active.ember-transitioning-out {
  border-bottom: 3px solid #333333;
}
.barra-de-navegacion .item,
.barra-de-navegacion .item.active.ember-transitioning-out {
  border-bottom: 3px solid #fff;
}

.ui.inverted.menu .item {
  color: #fefefe !important;
}

.ui.inverted.menu .active.item,
.barra-de-navegacion .item.ember-transitioning-in {
  border-bottom: 3px solid #c7e235;
  color: #fefefe !important;
  background: none;
}

.active.item,
.barra-de-navegacion .item.ember-transitioning-in {
  border-bottom: 3px solid #c7e235;
}

.barra-de-navegacion a.item:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.08);
}

.barra-de-navegacion .item.active:hover {
  border-bottom: 3px solid #c7e235;
}

.barra-de-navegacion .menu .item.active {
  border: none !important;
}

.ui.button.primario {
  background-color: #9aca3c;
  color: white;
}

.ui.button.primario:hover {
  background-color: #9eb12b;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h2.suite-detalle {
  padding-top: 2em;
}

.avatar-upload {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100%;
  border: 1px solid #d3d3d3;
}

.avatar-img {
  width: 90px !important;
  height: 90px !important;
  /*border-radius: 50%;*/
}

.avatar-img-small {
  width: 30px !important;
  height: 30px !important;
}

.avatar-file-uploader label {
  display: block;
  width: 160px;
  margin-top: 9px;
  text-align: center;
}

.avatar-file-uploader label:hover {
  opacity: 0.6;
}

.ui.header:first-child {
  font-weight: 200;
  font-size: xx-large;
  margin-top: 0.25em;
  font-family: "Din Next Rounded Regular";
  color: #58595b;
}

/* Roboto */
@font-face {
  font-family: "Roboto Bold";
  src: url("/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url("/roboto/Roboto-Light.ttf") format("truetype");
}

/* Din Next Rounded */

@font-face {
  font-family: "Din Next Rounded Bold";
  src: url("/DinNextRounded/DINNEXTROUNDEDLTPRO-BOLD.OTF") format("opentype");
}

@font-face {
  font-family: "Din Next Rounded Light";
  src: url("/DinNextRounded/DINNEXTROUNDEDLTPRO-LIGHT.OTF") format("opentype");
}

@font-face {
  font-family: "Din Next Rounded Medium";
  src: url("/DinNextRounded/DINNEXTROUNDEDLTPRO-MEDIUM.OTF") format("opentype");
}

@font-face {
  font-family: "Din Next Rounded Regular";
  src: url("/DinNextRounded/DINNEXTROUNDEDLTPRO-REGULAR.OTF") format("opentype");
}

.a-derecha {
  text-align: right;
}

.columns-dropdown {
  margin-bottom: 20px;
}

.custom.popup {
  text-align: left;
}

.custom.popup .item {
  margin: 0 !important;
}

a.item {
  font-family: "Din Next Rounded Regular" !important;
  color: #58595b !important;
}

li.section {
  font-family: "Din Next Rounded Regular" !important;
  color: #58595b !important;
}

.models-table th.ui.form {
  background-color: #ddf3ff;
}

.column-icon-box {
  display: inline-block;
  width: 25px;
}

p {
  margin-top: 2em;
  font-family: "Din Next Rounded Light" !important;
  font-size: medium;
  line-height: 1.7;
}

.suite-grupo {
  margin-top: 4em;
  font-family: "Din Next Rounded Light";
}

.suite-grupo-numero {
  color: gray;
  font-weight: bolder;
  font-size: 30pt;
  font-family: "Din Next Rounded Light";
  display: inline;
}

.suite-grupo-titulo {
  font-size: x-large;
  color: gray;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline;
  line-height: 1.5;
}

.evento-con-acta {
  border-top: 5px solid green !important;
  padding: 5px;
}

.evento-sin-acta {
  border-top: 5px solid #fbbd08 !important;
  padding: 5px;
}

.fc-event,
.fc-event:hover {
  color: black;
  text-decoration: none;
}

.fc-event p {
  margin: 0;
  font-size: small;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.fc-event p.evento-titulo {
  font-weight: 800;
}

a.color-gris,
.color-gris {
  color: gray !important;
}

.header-filter input {
  width: 20px;
}

.suite-tabla-error-de-api {
  color: red;
  height: 200px;
  border: 1px solid red;
  overflow: scroll;
  padding: 1em;
  white-space: pre;
}

.suite-tabla-paginador {
  text-align: right;
}

iframe.mapa {
  border: 1px solid gray;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#map {
  min-height: 350px;
}

.suite-tabla {
  position: relative;
}

.overlay-spinner {
  position: absolute;
  top: 48px;
  left: 1px;
  right: 1px;
  bottom: 52px;
  padding: 2em;
  text-align: center;
  min-height: 150px;
  z-index: 50;
}

.w100 {
  width: 100%;
}

.ember-power-select-trigger {
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  padding-left: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ember-power-select-option {
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;

  padding: 3px;
  padding-left: 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ember-power-select-trigger:focus {
  border-color: #85b7d9;
  border-radius: 0.28571429rem;
  background: #ffffff;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}

.suite-programa {
  background-color: #e8e8e8;
  padding: 4px;
  margin-left: 3px;
  border-radius: 5px;
  font-size: small;
  padding-left: 6px;
  padding-right: 6px;
}

/*Mapa de escuelas*/

.sin-mapa {
  width: 100%;
  height: 400px;
  border: 1px solid #d6d6d6;
  background: #f5f5f5;
  text-align: center;
  line-height: 400px;
}

.g-map {
  height: 400px;
}
.g-map-canvas {
  width: 100%;
  height: 100%;
  border: 1px solid #d4d4d5;
  z-index: 100;
}

.centrado {
  text-align: center;
}

.login-contenedor {
  /* background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  ); */
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-form {
  margin: auto;
  /* padding: 1em; */
  width: 100%;
  /* max-width: 300px; */
  margin-top: 2em;
  text-align: center;
  background: #9aca3c;
}
.ui.basic.segment.suite-login-fields-container {
  margin: 0;
}
.suite-login-fields {
  background: #9aca3c;
  padding-top: 4em !important;
}

.ui.container.login-form-container {
  text-align: center;
}

.login-form-fields {
  max-width: 300px !important;
}

.ui.form.suite-login-form .field > label {
  color: #fff;
  font-size: 1.2rem;
}

.ui.form.suite-login-form .field.field input {
  background: #fff;
  border-color: #dadada !important;
  border-radius: 0.4rem;
  height: 3.2rem;
}

.ui.form.suite-login-form .ui.checkbox label {
  color: #fff;
}

.login-checkbox {
  text-align: right;
  margin-top: 10px;
  padding-bottom: 20px;
}

.login-error {
  color: red;
  margin-top: 2em;
}

.reducir-dimmer {
  opacity: 0.6 !important;
}

.filtros {
  margin-bottom: 1em;
  background-color: #f6f5f6;
  border: 1px solid #e7e7e7;
  padding: 10px;
  position: relative;
}

.gray {
  color: #bbbbbb;
}

.ember-basic-dropdown-trigger {
  overflow: hidden;
  min-height: 38px;
}

.ember-power-select-search-input:focus {
  outline: 0;
  border: 1px solid #85b7d9;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
}

.ember-power-select-trigger:focus {
  outline: 0;
}

.etiquetas-a-derecha {
  float: right;
  margin-top: -3px;
  margin-right: 10px;
}

/* Estadisticas de seccion */
.ui.statistic > .label,
.ui.statistics .statistic > .label {
  text-transform: none;
  font-weight: 300;
  font-size: 1.3em;
  font-family: "Din Next Rounded Light";
  text-align: left;
  color: #58595b;
}

.ui.statistics .statistics > .label,
.ui.statistics .statistic > .label ~ .value {
  font-family: "Din Next Rounded Light";
  text-align: left;
}
.ui.statistics .statistic > .label ~ .value {
  margin-top: 0.8rem;
  font-weight: 100;
  color: #58595b;
}

/* Escritorio */
.escritorio .ui.statistics .statistics > .label,
.escritorio .ui.statistics .statistic > .label ~ .value,
.escritorio .ui.statistic > .label,
.escritorio .ui.statistics .statistic > .label {
  text-align: left;
}

.suite-promesa {
  display: inline-block;
}

.error {
  color: red;
}

.suite-detalle-tarea-error {
  color: red;
  margin-top: 2em;
}

.field span.nota {
  color: gray;
  font-weight: normal;
  font-size: x-small;
}

.login-form .logo-suite {
  margin-bottom: 2em;
}

.fc-sat {
  background-color: rgba(228, 228, 228, 0.38) !important;
}

.fc-sun {
  background-color: rgba(228, 228, 228, 0.38) !important;
}

.suite-calendario__contenedor {
  position: relative;
}

.suite-calendario__spinner {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 22000;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  bottom: 0px;
  top: 48px;
  padding-top: 6em;
}

.suite-estadistica-numerica__skeleton {
  display: inline-block;
  width: 0.45em;
  height: 0.8em;
  background-color: #eee;
}

.suite-tabla__skeleton {
  margin-top: -16px !important;
}

.suite-tabla__skeleton td {
  /*border-left: 0px solid white !important;*/
}

.suite-tabla__skeleton .bloque {
  height: 20px;
  width: 100%;
  background-color: #eee;
}

.filtro-item {
  display: inline-block;
  width: 200px;
}

.celda-filtro {
  width: 290px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.celda-filtro.filtro-busqueda {
  width: 480px;
}

.celda-filtro.filtro-busqueda .ui.input input {
  max-width: none;
  width: 110%;
}

.suite-depuracion-login__contenedor {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
}

.ember-power-select-trigger-multiple-input {
  border: 0 !important;
  padding: 0 !important;
}

.ember-power-select-multiple-trigger {
}

.ember-power-select-multiple-option {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 2px;
  color: #333;
  background-color: #fbfbfb;
  margin: -3px 6px 8px 3px;
}

.suite-planilla {
  overflow: hidden;
}

.suite-usuario__detalle_rol {
  color: gray;
  padding-top: 5px;
}

.suite-depuracion-login__panel {
  border-top: 1px solid rgba(128, 128, 128, 0.28);
  background: rgba(255, 255, 255, 0.81);
  padding-top: 1em;
}

.suite-depuracion-login__panel button {
  margin: 1px !important;
  font-weight: 400 !important;
}

.calendario__mostrar_fines_de_semana {
  position: absolute;
  right: 1.3em;
  top: 1.3em;
}

.handsontable td.htInvalid {
  background-color: #ffbab699 !important;
}

.pl0 {
  padding-left: 0;
}

.suite-tabla-paginador .item {
  cursor: pointer;
}

.suite-tabla-paginador .item.disabled {
  cursor: default !important;
}

.ember-power-select-multiple-option .etiquetas-a-derecha {
  display: none;
}

td {
  max-width: 10em;
}

div.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centrar {
  text-align: center;
}

.suite-tabla-paginador__selector_de_limite {
  display: inline-block;
  margin-bottom: 1em;
  width: 135px;
  text-align: left;
}

ol.qunit-assert-list table {
  width: 100%;
}

#qunit-tests th {
  width: 100px;
}

.overflow {
  overflow: auto;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}
.no-pointer-events {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.lato {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.no-outline:focus {
  outline: 0;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.width-animated {
  -webkit-transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.min-height-4 {
  height: 8rem;
}

.roboto {
  font-family: "Roboto Light";
}

.suite-container {
  max-width: 1280px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.outline {
  outline: 0 !important;
}

.flex1 {
  flex: 1;
}

.monospace {
  font-family: monospace;
}

.ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
  font-family: "Din Next Rounded Regular" !important;
  color: #58595b !important;
}
