body {
  overflow: scroll;
}

.main {
  padding-top: 4em;
}

/*

.column {
  outline: 1px solid red;
}

*/

.logo-container {
  height: 50px;
  cursor: pointer;
}

.isologo {
  margin-right: 4px !important;
}

.ui.inverted.menu .active.item.logo-container {
  background: none;
}

.menu-rutas-ui {
  width: 100% !important;
}

.ember-remodal {
  text-align: left;
}


.modal-barra-de-botones {
  text-align: right;
  padding-top: 4em;
}

.user-avatar {
  height: 23px;
}
