body {
  overflow: scroll;
}

.main {
  padding-top: 4em;
}

/*

.column {
  outline: 1px solid red;
}

*/

.logo-container {
  height: 50px;
  cursor: pointer;
}

.isologo {
  margin-right: 4px !important;
}

.ui.inverted.menu .active.item.logo-container {
  background: none;
}

.menu-rutas-ui {
  width: 100% !important;
}

.ember-remodal {
  text-align: left;
}


.modal-barra-de-botones {
  text-align: right;
  padding-top: 4em;
}

.user-avatar {
  height: 23px;
}

.user-avatar-large {
  height: 64px;
}

th.table-header {
  cursor: pointer !important;
}

.models-table {
  padding-top: 1em;
  padding-bottom: 1em;
}

.models-table-global-filter {
  padding-bottom: 0.5em;
}


.suite-usuario {
  cursor: pointer;
}


.user-avatar-name {
  padding-left: 10px;
}
