<div class="ui suite-container center align main">
  <h1 class="ui huge icon header tc">
    <img class="ui fluid image" src="/logotipo-robotica-home.svg">
    <div class="content">
      En construcción
    </div>
  </h1>

  {{outlet}}

  {{suite-version}}
</div>
