{{outlet}}

{{#suite-formularios/validaciones
  model        = (changeset model model.validaciones)
  on-submit    = (route-action "guardarValidacion")
  texto = 'Solicitar Validación'
}}

<button class="ui cancelar button" {{action (route-action "cancelar")}}>Cancelar</button>

{{/suite-formularios/validaciones}}

  {{#if errors}}
    <div class="ui negative message">
      {{#each errors as |error|}}
        <p><strong>{{error.campo}}</strong> - {{error.detalle}}</p>
      {{/each}}
    </div>
  {{/if}}
