{{outlet}}

{{#suite-formularios/usuario
  model        = (changeset model model.validacionesDeFormulario)
  cuandoGuarda = (route-action "regresar")
  texto = 'Crear Usuario'
}}

<button class="ui cancelar button" {{action (route-action "cancelar")}}>Cancelar</button>

{{suite-detalle-de-usuario tarea=model.tareaGuardar}}

{{/suite-formularios/usuario}}
