{{outlet}}

{{suite-titulo titulo="Edición de usuario"}}

{{#suite-formularios/perfil
  model           = model
  cuandoGuarda    = (route-action "regresar" model)
  texto = 'Guardar Perfil'
  editar = true
}}

<button class="ui cancelar button" {{action (route-action "cancelar" model)}}>Cancelar</button>

{{suite-detalle-de-perfil tarea=model.tareaGuardar}}

{{/suite-formularios/perfil}}
