{{outlet}}

<h2>Editar un evento</h2>

{{#suite-formularios/evento
  model        = (changeset model model.validaciones)
  on-submit    = (route-action "guardarEvento")
  texto = 'Guardar evento'
}}

<button class="ui cancelar button" {{action (route-action "cancelar")}}>Cancelar</button>

{{/suite-formularios/evento}}

{{#if errors}}
  <div class="ui negative message">
    {{#each errors as |error|}}
      <p><strong>{{error.campo}}</strong> - {{error.detalle}}</p>
    {{/each}}
  </div>
{{/if}}
