{{outlet}}

<h1>Acciones territoriales</h1>

<div class="ui secondary pointing fluid menu">
    <div class="menu">
      {{#link-to "app.agenda.index" class="ui item"}}CALENDARIO{{/link-to}}
      {{#link-to "app.agenda.lista" class="ui item"}}LISTA{{/link-to}}
      <a class="ui item" href="#">MAPA</a>
    </div>
</div>


<div class="barra-de-botones">
  <button class="ui button primario" {{action (route-action "crearUnEventoNuevo")}}><i class='ui plus icon'></i> Nueva Acción</button>


  <div class='pull-right'>

    <label>
      {{input type="checkbox"
      id="checkbox-policy"
      name="checkboxPolicy"
      class="ui checkbox"
      checked=model.mostrarFinesDeSemana
    }}

    Mostrar fines de semana
    </label>
  </div>

</div>


{{full-calendar
    header=header
    businessHours=true
    locale='es'
    events=eventos
    handleWindowResize=true
    eventLimit=false

    mostrarFinesDeSemana=model.mostrarFinesDeSemana

    viewRender=(action 'viewRender')
    dayClick=(action 'dayClicked')
    eventClick=(route-action 'editarUnEvento')
    eventRender=(action 'eventRender')
}}
