{{outlet}}

<h1>Agenda</h1>

<div class="ui secondary pointing fluid menu">
    <div class="menu">
      {{#link-to "app.agenda.index" class="ui item"}}CALENDARIO{{/link-to}}
      {{#link-to "app.agenda.lista" class="ui item"}}LISTA{{/link-to}}
      <a class="ui item" href="#">MAPA</a>
    </div>
</div>

{{suite-filtros/eventos filtro=filtro pagina=pagina tarea=model.tareaEventos}}

{{suite2-tabla
  pagina=pagina
  columnas=model.columnas
  filtro=filtro
  tarea=model.tareaEventos
  paginacion=true
}}
