{{outlet}}

<h1>Agenda</h1>

<div class="ui secondary pointing fluid menu">
    <div class="menu">
      {{#link-to "app.agenda.index" class="ui item"}}Calendario{{/link-to}}
      {{#link-to "app.agenda.lista" class="ui item"}}Lista de eventos{{/link-to}}
    </div>
</div>

{{suite2-tabla
  pagina=pagina
  columnas=model.columnas
  filtro=filtro
  tarea=model.tarea
  paginacion=true
}}
