{{outlet}}


<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">Usuarios</h2>

    <div class="right menu">
      {{#link-to "app.usuarios.index" class="ui item"}}Listado{{/link-to}}
    </div>

</div>

<div class="barra-de-botones">
  <button class="ui button primario " disabled {{action (route-action "crearUnUsuarioNuevo")}}>Crear un usuario nuevo</button>
</div>

{{suite-tabla
  filas=model.perfiles
  columnas=model.columnas
}}
