<div class="ui grid">
  <div class="three wide column">
    {{suite-titulo titulo="Matrix"}}

  </div>
  <div class="thirteen wide column">
    {{suite-estadisticas/paquetes-matrix tarea=model.estadisticas}}
  </div>
</div>

<div class="ui divider"></div>

{{suite-filtros/paquetes filtro=model.filtro alIngresarFiltro=(route-action "alIngresarFiltro")}}


{{suite-tabla
  pagina=model.pagina
  columnas=model.columnas
  tarea=model.tareaPaquetes
  paginacion=true
  cuandoCambiaPagina=(route-action "cuandoCambiaPagina")
}}
