{{outlet}}

{{#suite-formularios/paquetes-objetar-masivos
  model        = (changeset model model.validaciones)
  on-submit    = (route-action "alObjetarPaquetes")
  texto = 'Objetar Paquetes'
}}

<button class="ui button" {{action (route-action "cancelar")}}>Cancelar</button>

{{/suite-formularios/paquetes-objetar-masivos}}
