<div class="w-60 flex">

  <div class="w-50 pl2">
    <div class="pl1 f7 gray ttc unselectable">Distrito</div>

    {{#if cargandoDistritos}}
      <div class="o-50 ember-power-select-trigger ember-basic-dropdown-trigger disabled">
        <div class="tc">
          <div class="ui active inline mini loader"></div>
        </div>
      </div>
    {{else}}

      {{#power-select
        options=distritos
        selected=distritoComoObjeto
        disabled=deshabilitado
        searchEnabled=true
        searchField='nombre'
        onchange=(action "cuandoSeleccionaDistrito")
        as |opcion|
      }}
        {{get opcion "nombre"}}
      {{/power-select}}

    {{/if}}

  </div>


  <div class="w-50 pl2">
    <div class="pl1 f7 gray ttc unselectable">Localidad</div>

    {{#if cargandoLocalidades}}
      <div class="o-50 ember-power-select-trigger ember-basic-dropdown-trigger disabled">
        <div class="tc">
          <div class="ui active inline mini loader"></div>
        </div>
      </div>
    {{else}}

      {{#power-select
        options=localidades
        selected=localidadComoObjeto
        disabled=false
        searchEnabled=true
        searchField='nombre'
        onchange=(action "cuandoSeleccionaLocalidad")
        as |opcion|
      }}
        {{get opcion "nombre"}}
      {{/power-select}}

    {{/if}}

  </div>

</div>
