<div class="flex flex1">

  <div class="w-50 pl2">
    <div class="pl1 f7 gray ttc unselectable">{{etiqueta1}}</div>
    {{suite-campo/fecha fecha=(get parametros desde) cuandoCambia=(action "cuandoCambiaDesde")}}
  </div>

  <div class="w-50 pl2">
    <div class="pl1 f7 gray ttc unselectable">{{etiqueta2}}</div>
    {{suite-campo/fecha fecha=(get parametros hasta) cuandoCambia=(action "cuandoCambiaHasta")}}
  </div>

</div>
