<div class="w-30 pl2">

  <div class="">
    <div class="pl1 f7 gray ttc unselectable">{{nombre}}</div>
    {{suite-selector/simple opciones=opciones valor=valorComoObjeto cuandoSelecciona=(action 'cuandoSelecciona')}}
  </div>
</div>
