{{outlet}}

<div>
  {{#link-to "app.grupos.index" class='ui button primario'}}Ver listado de grupos{{/link-to}}
</div>

<h2>Detalle del grupo: {{model.name}}</h2>

{{suite-listado-de-permisos tarea=model.tareaPermisos}}
