{{outlet}}

{{#suite-formularios/escuela
  model        = (changeset model model.validacionesDeFormulario)
  cuandoGuarda = (route-action "regresar")
  texto = 'Crear Escuela'
}}

<button class="ui cancelar button" {{action (route-action "cancelar")}}>Cancelar</button>

{{suite-detalle-de-escuela tarea=model.tareaGuardar}}

{{/suite-formularios/escuela}}
