{{yield}}
{{#if cargando}}
  <div class="ui active inline mini loader"></div>
{{else}}
  {{#if valor}}
    {{#ui-popup content="Llave del servidor cargada" position="bottom left"}}
      <i class="ui blue file icon"></i>
    {{/ui-popup}}
  {{else}}
    {{#ui-popup content="No se cargó la llave del servidor" position="bottom left"}}
      <i class="ui red outline file icon"></i>
    {{/ui-popup}}
  {{/if}}

{{/if}}
