{{yield}}

<div class="filtros">
  <div class="ui action input">
    {{input type="text" placeholder="Ingrese filtro" autofocus=true enter=(action "alIngresarFiltro") value=filtro_temporal}}
    <button class="ui button" onclick={{action "alIngresarFiltro"}}><i class="search icon"></i> Buscar</button>
  </div>
</div>
