<div class="filtros">

  <div class="celda-filtro">
    {{suite-campo/filtro
      ayuda="Escuela o responsable"
      valor=filtro
      alBuscar=alIngresarFiltro
    }}
  </div>

  <div class="celda-filtro">
    {{suite-selector/region
        deshabilitado=deshabilitarSeleccionDeRegion
        permiteSeleccionarTodasLasRegiones=(not deshabilitarSeleccionDeRegion)
        valor=region
        cuandoSelecciona=cuandoSeleccionaRegion
    }}
  </div>

  <div class="celda-filtro">
    {{suite-selector/responsable
        deshabilitado=deshabilitarSeleccionDeResponsable
        valor=perfil
        region=region
        cuandoSelecciona=cuandoSeleccionaResponsable
    }}
  </div>


</div>
