<div class="filtros">

  <div class="celda-filtro">
    {{suite-campo/filtro
      ayuda="Escuela, autor o estado"
      valor=filtro
      alBuscar=alIngresarFiltro
    }}
  </div>

  <div class="celda-filtro">
    {{suite-selector/region
        deshabilitado=deshabilitarSeleccionDeRegion
        permiteSeleccionarTodasLasRegiones=(not deshabilitarSeleccionDeRegion)
        valor=region
        cuandoSelecciona=cuandoSeleccionaRegion
    }}
  </div>

</div>
