{{outlet}}

<h1>Planillas</h1>

<p>Las planillas son similares a una hoja de
  excel, nos pueden servir para mostrar datos
  editables de forma masiva para los usuarios o
  como una forma de previsualizar los datos de
  los paquetes de provisión.
</p>




{{suite-planilla datos=datos}}
