{{outlet}}

<h1>Tablas</h1>

<p>Para incluir tablas se puede usar el
  el componente <code>suite-tabla</code> incluyendo
  filas de la siguiente forma:
</p>

{{suite-tabla-simple filas=filas columnas=columnas}}


<h2>Versión completa</h2>

<p>También se puede incluir una tabla más completa
  así:</p>


{{suite-tabla filas=data columnas=columns}}
