<h1>Upload</h1>

{{input type="file"}}

<h1>x-file-input</h1>

  [{{model.url_imagen}}]

{{#x-file-input action=(route-action "uploadAPhoto") alt="hello world" class="avatar-upload"}}
  Subir imagen
  <img width="100%" src={{model.url_imagen}}>
{{/x-file-input}}

{{outlet}}
