{{yield}}

{{#if (is-pending model.idDevolucion)}}
  <div class="ui active inline mini loader"></div>
{{else}}
  {{#if model.zipDevolucion}}
    {{#ui-popup content="descargar" position='bottom left'}}
      <a href={{model.zipDevolucion}} target=_blank><i class="ui file icon"></i></a>
    {{/ui-popup}}
  {{/if}}
{{/if}}
