{{#validated-form
  model        = model
  on-submit    = on-submit
  submit-label = texto as |f|
}}

  {{f.input label="Título" name="titulo"}}

  <div class="ui two column grid">
    <div class="row">
      <div class="column">
        {{f.input type='date' label="Fecha comienzo" name="fechainicio"}}
      </div>

      <div class="column">
        {{f.input type='date' label="Fecha de finalización" name="fechafin"}}
      </div>
    </div>
  </div>

  <hr/>

  {{f.submit label=texto}}

{{/validated-form}}
