<div class="ui secondary pointing fluid menu">
    <div class="menu">
      {{#link-to "app.escuelas.index" class="ui item"}}Listado{{/link-to}}
      {{#link-to "app.escuelas.mapa" class="ui item"}}Mapa{{/link-to}}
    </div>
</div>

{{outlet}}
