{{suite-titulo titulo="Regiones"}}

<div class="ui secondary pointing fluid menu">
    <div class="menu">
      {{#link-to "app.regiones.index" class="ui item"}}Listado{{/link-to}}
      {{#link-to "app.regiones.mapa" class="ui item"}}Mapa{{/link-to}}
    </div>
</div>

{{outlet}}
