{{outlet}}

<h1>Región {{model.numero}}</h1>

<p>La región {{model.numero}} está conformada
  por los siguientes municipios:</p>

{{#if model.municipios}}
  {{suite-tabla
    filas=model.municipios
    columnas=model.columnas
  }}
{{/if}}
