{{outlet}}

<h1>Región {{model.numero}}</h1>

<p>La región {{model.numero}} está conformada
  por los siguientes distritos:</p>

{{#if model.distritos}}
  {{suite-tabla
    filas=model.distritos
    columnas=model.columnas
  }}
{{/if}}
