{{outlet}}
<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">Regiones</h2>

    <div class="right menu">
      {{#link-to "app.regiones.index" class="ui item"}}Listado{{/link-to}}
      {{#link-to "app.regiones.mapa" class="ui item"}}Mapa{{/link-to}}
    </div>

</div>

{{suite-tabla
  cantidad=10
  filas=model.regiones
  columnas=model.columnas
}}
