{{outlet}}
<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">Regiones</h2>

    <div class="right menu">
      {{#link-to "app.regiones.index" class="ui item"}}Listado{{/link-to}}
      {{#link-to "app.regiones.mapa" class="ui item"}}Mapa{{/link-to}}
    </div>

</div>

<div class="ui stackable grid">
  <div class="eight wide column">
    {{suite-mapa-regiones}}
  </div>

  <div class="eight wide column">

    <ul>
      <li>Demo</li>
    </ul>

  </div>
</div>
