{{outlet}}

<h1>Distrito {{model.nombre}}</h1>

<p>El distrito {{model.nombre}} está conformado
  por las siguientes localidades:</p>

{{suite2-tabla
  pagina=pagina
  columnas=model.columnas
  filtro=filtro
  tarea=model.tarea
  paginacion=true
}}
