{{outlet}}

<h1>Otros</h1>


<p>Estos son los componentes más sencillos, que
  preferimos listar todos juntos.</p>

<h2>suite-spinner</h2>

<p>Sirve para representar demoras, generalmente es
de uso interno en las rutas loading:</p>


{{#suite-codigo}}
\{{suite-spinner}}
{{/suite-codigo}}

{{#suite-panel}}
  {{suite-spinner}}
{{/suite-panel}}



{{suite-usuario}}
