<div class="ui container main">

<div class="ui fixed menu inverted">

  <div class="item">
    <!--<img src="logo.png"> -->
    Suite
  </div>

  {{#link-to "index" class="item"}}<i class="bar chart icon"></i> Escritorio{{/link-to}}
  {{#link-to "ui.index" class="item"}}<i class="book icon"></i> Galería de componentes UI{{/link-to}}

  <div class="right menu">
    <a class="item">
      <img class="ui circular image" src="/imagenes/user.jpg">
      &nbsp;
      Usuario
    </a>
  </div>

</div>


{{outlet}}

</div>
