<h1>Escritorio</h1>

<p>Esta es una versión preliminar de <strong>suite 2</strong>, donde se
muestran algunos componentes y experimentos sobre la interfaz de usuario
que nos gustaría implementar a futuro.</p>


{{outlet}}
