
<div class="login-page">

    <h2 class="center aligned header form-head">Ingresar a Suite</h2>

<!--
<div class="ui one column center aligned grid">

  <div class="ui column six wide form-holder">


    <div class="ui form">

      <div class="field">
        <input type="text" placeholder="usuario">
      </div>

      <div class="field">
        <input type="password" placeholder="contraseña">
      </div>

      <div class="field">
        <input type="submit" value="Ingresar" class="ui button large fluid green">
      </div>

      <div class="field">
        Nota: Este formulario está en desarrollo, y a futuro el usuario
        no lo va a ver, porque los ingresos van a ser por cuentas <em>abc</em>.
      </div>

      <div class="field">
        A continuación algunas pruebas de ingreso:
      </div>

    </div>
  </div>

</div>
-->

  <div class="center padding">
    <button class='ui button' {{action 'loginProgramador'}}>Ingresar como programador</button>
    <button class='ui button' {{action 'loginDTE'}}>Ingresar como dte</button>
  </div>

</div>
