{{outlet}}

  <div class="ui ba3 suite-error-container centered w-50 center">

    <h1>Estamos migrando Suite de servidor ...</h1>

    <img src="/iconos/ventana.png">

    <p>Por el momento no se puede acceder a <strong>suite</strong>, el equipo de desarrollo
      necesita realizar tareas de migración de bases de datos y archivos.</p>


      <p><strong>Suite</strong> volverá a estar en funcionamiento nuevamente mañana, Martes 17
        de Abril, a primer hora. La dirección de acceso seguirá siendo la misma: <a href="http://suite2.dtelab.com.ar/">http://suite2.dtelab.com.ar</a></p>

  </div>
