<div class="ui stackable grid">

  <div class="five wide column">
    <div class="ui vertical pointing menu menu-rutas-ui">
      {{#link-to "ui.index" class="item"}}Principal{{/link-to}}
      {{#link-to "ui.tabla" class="item"}}Tablas{{/link-to}}
      {{#link-to "ui.formularios" class="item"}}Formularios{{/link-to}}
      {{#link-to "ui.modales" class="item"}}Modales{{/link-to}}
      {{#link-to "ui.otros" class="item"}}Otros{{/link-to}}
    </div>
  </div>

  <div class="eleven wide column">
    {{outlet}}
  </div>

</div>
